<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}">
 <title>{{ page.title }} - {{ site.title }}</title>
 <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ '/assets/img/p2.jpg' | relative_url }}" alt="Foto do Blog" class="profile-pic">
            <h1>Terminal Club</h1>
            <p>Dicas de Linux | Segurança da Informação | Cibersegurança</p>
        </div>
        <nav>
            <a href="{{ '/' | relative_url }}">Início</a>
            <a href="{{ '/about' | relative_url }}">Sobre</a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} Terminal Club. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
